.headerContainer {
  background-color: var(--color-secundario); /* Tu verde claro */
  width: 100%; /* Para que no toque los bordes laterales */
  margin: auto; /* Centra el bloque y le da aire arriba/abajo */
  padding: 10px;
  text-align: center;
}

.headerContainer h1 {
  margin: 0;
  font-size: 1.2rem;
}